
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    height:fit-content;
    background-color: #fff;
}
.main-container{
    height: fit-content;
    width: 100%;
}
/* Section 1*/
.main-container .section1{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-container .section1 .sec1-info{
    width: 40%;
    margin-left: auto;
}
.main-container .section1 .sec1-info h1{
    font-size: 45px;
    text-transform: capitalize;
    margin: 30px 0;
    text-transform: uppercase;
    letter-spacing: 20px;
    line-height: 60px;
    color:#000;
    font-family: "Roboto";
    font-weight: 700;
}
.main-container .section1 .sec1-info p{
    font-size: 18px;
    margin: 20px 0;
    color: #171717;
    font-family: "Open sans";
    font-weight: 400;
}


/**/
.main-container .section1 .sec1-info .AJS{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 50px 0;
}

.main-container .section1 .sec1-info .AJS button{
    width: 30%;
    height: 40px;
    border-radius: 35px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    background: rgb(92,37,242);
    color: #fff;
    animation: floating .8s ease infinite ;
    font-family: "Open sans";
}
@keyframes floating {
    0%{
        transform: translateY(5px);
    }
    100%{
       transform: translateY(-5px);
    }
}
.main-container .section1 .sec1-info .AJS button:nth-child(2),.main-container .section1 .sec1-info .AJS button:nth-child(3){
    animation: none;
    cursor: not-allowed;
    background-color: rgb(201,183,251);
}

.main-container .section1 .sec1-info .AJS button:nth-child(1):hover{
    animation: none;
}
.main-container .section1 .images{
    width: 45%;
    margin: auto;
}

.main-container .section1 .images img{
    transform: translateY(-20px);
    width: 100%;
    margin:  auto;
    animation: floating-img 1s ease-in-out infinite alternate;
}
@keyframes floating-img {
    100%{
        transform: translateY(10px);
    }
}
/* Section 2 */
.main-container .section2{
    width: 100%;
    height: 100vh;
    background-color: #4f52ff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.main-container .section2 h2{
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Roboto" ,sans-serif;
    margin: 20px auto;
    transform: translateX(100%);
}
.main-container .section2 p{
    width: 65%;
    text-align: center;
    font-size: 18px;
    font-family: "Open sans",sans-serif;
    margin: 20px auto;
    transform: translateX(-100%);
    line-height: 35px;
}
.main-container .section2 img{
    width: 50%;
    margin: 30px auto;
    animation: floating-img 1s ease-in-out infinite alternate;
    transform: translateY(100%);
}
.main-container .section2 .animate{
    opacity: 0;
    filter: blur(3px);
    transition: all 1s ease-in-out;
}
.main-container .section2 .show{
    transform:unset;
    opacity: 1;
    filter: unset;
}
.main-container .section3{
    background:  linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)),url(./footage/images/close-up-hands-with-medical-devices.jpg) center no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.main-container .section4{
    width: 100%;
    height: 150vh;
    background-color: #fff;
}












.scroll{
    width: 40px;
    height: 40px;
    position: fixed;
    right:30px;
    top:80vh;
    display: none;
}
.scroll img{
    width: 100%;
    cursor: pointer;
    transition: transform .35s ease;
    animation: scroll-button-apear  1s ease-out;
}
.scroll img:hover{
    transform: translateY(-5px);
}
@keyframes scroll-button-apear {
    0%{
        transform:translateY(300%);
        opacity:0;
        filter:blur(3px);
    }
}
/* Responsive design */


@media (max-width: 1230px) {    
    .main-container .section1 .sec1-info h1{
        letter-spacing: 5px;
    }
    .main-container .section1 .images img{
        margin:  0 auto;
    }
    @media (max-width: 1020px){
        .main-container .section1{
            flex-direction: column;
            height: fit-content;
        }
        .main-container .section1 .sec1-info{
            width: 75%;
            margin: 0 auto;
            text-align: center;
            
        }
        .main-container .section1 .images{
            width: 55%;
        }
        @media (max-width:767px) {
            .main-container .section3{
                background-position:  left;
            }
            @media (max-width: 477px){
                .main-container .section1 .sec1-info{
                    width: 85%;
                }
                .main-container .section1 .sec1-info h1{
                    letter-spacing: 2px;
                    font-size: 35px;
                }
                .main-container .section2 p{
                    width: 85%;
                    line-height: normal;
                    font-size: 16px;
                }
                .main-container .section3{
                    background-position: 15% 0;
                }
                .scroll{
                    bottom: 5vh;
                    left: calc(50% - 15px);
                }
                @media (max-width: 400px){
                    .main-container .section1 .images img{
                        animation: unset;
                        transform:unset;
                    }
                    .main-container .section1 .sec1-info .AJS{
                        flex-wrap: wrap;
                        width: 90%;
                        margin:  0 auto;
                    }
                    .main-container .section1 .sec1-info .AJS button{
                        width: 45%;
                        margin: 10px auto;
                    }
                    .main-container .section1 .sec1-info .AJS button:nth-child(3){
                        margin: 10px auto;
                        width: 55%;
                    }
                }
            }
        }

    }
    
}
