*{
    padding:0;
    margin:0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    width:100%;
    height:100vh;
    background:url(./footage/images/4038031.jpg) center scroll no-repeat ;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #ececec;
}
::-webkit-scrollbar-thumb{
    background: #cecece;
    border-radius: 35px;
}
::-webkit-scrollbar-thumb:hover{
    background: #ff8eac;
}
.main-container{
    width: 60%;
    min-width: 680px;
    height:  fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    border-radius: 25px;
    margin: 30px auto  ;
}
h1{
    text-transform: uppercase;
    margin: 20px 0;
    text-align: center;
}
.change-language{
    width: 100%;
    height: fit-content;
}
.change-language p{
    margin: 5px 0;
    text-align: center;
    font-size: 14px;
    color: rgb(156, 0, 0);
}
.langs{
    width: 15%;
    height: 30px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(92, 37, 242, 0.33);
    border-radius: 35px;
    overflow: hidden;
}
.langs button{
    margin: 0 ;
    height: 100%;
    width: 100%;    
    cursor: not-allowed;
}
/*.langs button:hover, .langs button.selected{
    background-color: #000;
    color: #fff;
}*/
.food-items{
    width:100%;
    height: fit-content;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.food-item{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    animation: food-item-apear 800ms ease-in-out;
}
@keyframes food-item-apear{
    0%{
        opacity: 0;
        filter: blur(3px);
        transform: translateY(50%);
    }
}
button{
    background: transparent;
    border:none;
    cursor: pointer;
}

.food-item img{
    height: 30px;
    margin-left: 10px;
}
.food-info,.calc-result{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #000;
 
}
.food-info{
    width: calc(100% - 35px);
    max-width: 650px;
    min-width:550px ;
    height: 20vh;
    overflow: hidden;       
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: rgba(200, 254, 192, 0.57);
    border-radius: 16px;;
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: rgba(200, 254, 192, 0.33);
    
}
input[type="number"],select,input[type="submit"]{
    width: 80%;
    padding: 5px calc(3% /2);
    max-width: 250px;
    margin: 10px auto;
    height: 35px;
    font-size: 18px;
}
input[type="number"],select{
    background: rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.05);
    color: #fff;
    outline: none;
    text-align: left;
    margin: auto;
}
input[type="number"]:focus,select:focus{
    background: rgba(0, 0, 0, 0.50)
}
label{
    display: block;
    width: 36%;
    margin: auto;
    height: fit-content;
    min-width: 245px;
    color: #131314;
}
option{
    text-transform: capitalize;
}
.calc-result{
    border: none;
    flex-wrap: nowrap;
}

input[type="submit"],.calc-result p{
    background: rgba(92, 37, 242, 0.57);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(92, 37, 242, 0.33);
    height: 40px;
    color: #fff;
    max-width: 300px;
    min-width: 200px;
    margin: 10px auto;
    padding: 5px 15px !important;
}
input[type="submit"]{
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    animation: submit-button-apear 800ms ease-in-out;
}

@keyframes submit-button-apear {
    0%{
        opacity: 0;
        filter: blur(3px);
        transform:translateX(-50%) ;
    }
}
input[type="submit"]:hover{
    background-color: #000;
    color: #ffff;
}
.calc-result p{
    width: 50%;
    padding: 5px 5px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    animation: result-paragraph-apear 800ms ease-in-out;
}
@keyframes result-paragraph-apear {
    0%{
        opacity: 0;
        filter: blur(3px);
        transform:translateX(50%) ;
    }
}
.calc-result p:nth-child(1){
    margin-right: 10px;
}
.calc-result p:nth-child(2){
    margin-left: 10px;
}
.calc-result p span{
    margin: auto 0;
}
.calc-result p span:not(.result){
    text-transform: uppercase;
}
@media (max-width: 767px){
    .main-container{
        width: 85%;
    }
    .calc-result{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    input[type="submit"], .calc-result p{
        margin: 10px 0;
        min-width: 300px;
    }
    .calc-result p{
        margin-right:10px ;
    }
    @media (max-width:597px) {
        .main-container{
            width: 90%;
            min-width: unset;
        }
        .food-items{
            width: 100%;
            
        }
        .food-info{
            grid-template-columns: 1fr;
            width: 90%;
            min-width: unset;
            height: 30vh;
        }
        input[type="number"],select{
            width: 100%;
        }
        .calc-result{
            transform: none;
        }
        .langs{
            width: 30%;
        }
        @media (max-width:360px){
            .main-container{
                width: 95%;
            }
            .main-container .food-items .food-item img{
                height: 20px;
            }
            .main-container .calc-result{
                width: 90%;
            }
            .main-container .calc-result input[type="submit"], .main-container .calc-result p{
                width: 100%;
                min-width: unset;
                max-width: unset;
            }
        }
    }   
}
