*{
    padding:0;
    margin:0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    width:100%;
    height:fit-content;
    background: #fff;
}
.home-section{
    height: 100vh;
}
.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 60%;
    min-width: 680px;
    height:  fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(92,37,242);
    border-radius: 25px;
    margin: 30px auto  ;
    position: relative;
}
.content::after{
    content: "";
    width:100% ;
    height: 100%;
    border-radius:inherit ;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(43, 255, 255);
    border: 1px solid rgb(92,37,242) ;
    z-index: -1;
    transition: all .3s ease-out;
    transform: translateX(-10px) translateY(5px);
}
h1{
    text-transform: uppercase;
    margin: 20px 0;
    text-align: center;
    font-family: "Roboto";
    color: #fefefe;
    letter-spacing: 2px;
}
.change-language{
    width: 100%;
    height: fit-content;
}
.change-language p{
    margin: 5px 0;
    text-align: center;
    font-size: 14px;
    color: rgb(156, 0, 0);
}
.langs{
    width: 15%;
    height: 30px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,77,105);
    border-radius: 35px;
    overflow: hidden;

}
.langs button{
    margin: 0 ;
    height: 100%;
    width: 100%;    
    cursor: not-allowed;
    color: #fff;
}
/*.langs button:hover, .langs button.selected{
    background-color: #000;
    color: #fff;
}*/
.food-items{
    width:100%;
    height: fit-content;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.food-item{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    animation: food-item-apear 800ms ease-in-out;
}
@keyframes food-item-apear{
    0%{
        opacity: 0;
        filter: blur(3px);
        transform: translateY(50%);
    }
}
button{
    background: transparent;
    border:none;
    cursor: pointer;
}

.food-item img{
    height: 30px;
    margin-left: 10px;
}
.food-info{
    width: calc(100% - 35px);
    max-width: 650px;
    min-width:550px ;
    height: 20vh;
    overflow: hidden;       
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: rgb(255,161,0);
    border-radius: 16px;;
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: rgba(200, 254, 192, 0.33);
    
}
input[type="number"],select,input[type="submit"]{
    width: 80%;
    padding: 5px calc(3% /2);
    max-width: 250px;
    margin: 10px auto;
    height: 35px;
    font-size: 16px;
}
input[type="number"],select{
    background: rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.05);
    color: #fff;
    outline: none;
    text-align: left;
    margin: auto;
}
input[type="number"]:focus,select:focus{
    background: rgba(0, 0, 0, 0.50)
}
label{
    display: block;
    width: 36%;
    margin: auto;
    height: fit-content;
    min-width: 245px;
    color: #131314;
}
option{
    text-transform: capitalize;
}
input[type="submit"]{
    background: rgba(255,77,105,0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(92, 37, 242, 0.33);
    height: 40px;
    color: #fff;
    max-width: 300px;
    min-width: 200px;
    margin: 10px auto;
    padding: 5px 15px !important;
    transition: all .35s ease;
}
input[type="submit"]{
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    animation: submit-button-apear 800ms ease-in-out;
}

@keyframes submit-button-apear {
    0%{
        opacity: 0;
        filter: blur(3px);
        transform:translateX(-50%) ;
    }
}
input[type="submit"]:hover{
    background-color: rgb(255,77,105);
    transform: translateY(-5px);
    color: #ffff;
    box-shadow: 0 4px 30px rgba(255,77,105, 0.35);
}

.result{
    width: 55%;
    padding: 5px 2.5%;
    height: 40px;
    background-color: #e7efff;
    border-radius: 35px;
    margin-top:20px ;
    border: 1px solid #fefefe;
}
.result P{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .25rem;
    text-transform: uppercase;
}
@media (max-width: 767px){
    .content{
        width: 85%;
        min-width: unset;
    }
    .food-info{
        min-width: unset;
    }
    input[type="submit"]{
        margin: 10px 0;
        min-width: 300px;
    }
    @media (max-width:597px) {
        .content{
            width: 90%;
            min-width: unset;
        }
        .result{
            width: 75%;
        }
        .food-items{
            width: 100%;
            
        }
        .food-info{
            grid-template-columns: 1fr;
            width: 90%;
            min-width: unset;
            height: 30vh;
        }
        input[type="number"],select{
            width: 100%;
        }
        .langs{
            width: 30%;
        }
        @media (max-width:360px){
            .content{
                width: 95%;
            }
            .content .food-items .food-item img{
                height: 20px;
            }
            .content .calc-result{
                width: 90%;
            }
            .content  input[type="submit"]{
                width: 85%;
                min-width: unset;
                max-width: unset;
            }
        }
    }   
}
